shop/src/test/resources/datasets/db.dtd

<!ELEMENT dataset (
    ADRESSE*,
    ARTIKEL*,
    KUNDE*,
    BESTELLUNG*,
    BESTELLPOSITION*,
    LIEFERUNG*,
    BESTELLUNG_LIEFERUNG*)>

<!ELEMENT ADRESSE EMPTY>
<!ATTLIST ADRESSE
    ID CDATA #REQUIRED
    LAND CDATA #REQUIRED
    STADT CDATA #REQUIRED
    STRASSE CDATA #REQUIRED
    HAUSNUMMER CDATA #REQUIRED
    PLZ CDATA #REQUIRED
>

<!ELEMENT ARTIKEL EMPTY>
<!ATTLIST ARTIKEL
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    GROESSE CDATA #REQUIRED
    FARBE CDATA #REQUIRED
    PREIS CDATA #IMPLIED
    ART CDATA #REQUIRED
    KATEGORIE CDATA #REQUIRED
    LAGERBESTAND CDATA #REQUIRED
    ERZEUGT CDATA #REQUIRED
    AKTUALISIERT CDATA #REQUIRED
>

<!ELEMENT KUNDE EMPTY>
<!ATTLIST KUNDE
    ID CDATA #REQUIRED
    ADD_FK CDATA #REQUIRED
    NACHNAME CDATA #REQUIRED
    VORNAME CDATA #REQUIRED
    GESCHLECHT CDATA #REQUIRED
    EMAIL CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
    ERZEUGT CDATA #REQUIRED
    AKTUALISIERT CDATA #REQUIRED
>

<!ELEMENT BESTELLUNG EMPTY>
<!ATTLIST BESTELLUNG
    ID CDATA #REQUIRED
    K_FK CDATA #REQUIRED
    PREIS CDATA #IMPLIED
    STATUS CDATA #REQUIRED
    ERZEUGT CDATA #REQUIRED
    AKTUALISIERT CDATA #REQUIRED
>

<!ELEMENT BESTELLPOSITION EMPTY>
<!ATTLIST BESTELLPOSITION
    ID CDATA #REQUIRED
    B_FK CDATA #REQUIRED
    AR_FK CDATA #REQUIRED
    ANZAHL CDATA #REQUIRED
    PREIS CDATA #IMPLIED
>

<!ELEMENT LIEFERUNG EMPTY>
<!ATTLIST LIEFERUNG
    ID CDATA #REQUIRED
    LIEFERANT CDATA #REQUIRED
    TRANSPORT_ART CDATA #IMPLIED
    ERZEUGT CDATA #REQUIRED
    AKTUALISIERT CDATA #REQUIRED
>

<!ELEMENT BESTELLUNG_LIEFERUNG EMPTY>
<!ATTLIST BESTELLUNG_LIEFERUNG
    ID CDATA #REQUIRED
    B_FK CDATA #REQUIRED
    L_FK CDATA #REQUIRED
>

